/* CoinPage CSS */

.gray-container {
  background-color: var(--darkgray);
  border-radius: 1rem;
  width: 90%;
  display: block;
  margin: 1.5rem auto;
}

.coin-stats {
  display: flex;
  width: 90%;
  margin: 1.5rem auto;
  justify-content: space-between;
  gap: 1rem;
}

.gray-container-chart {
  padding: 1.5rem;
  background-color: var(--darkgray);
  border-radius: 1rem;
  flex: 1 1 65%;
}

.gray-container-stats {
  padding: 1.5rem;
  background-color: var(--darkgray);
  border-radius: 1rem;
  flex: 0 1 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .coin-stats {
    flex-direction: column;
  }
}
